* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(111,
        95,
        173);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

}

.container{
    position: fixed;
}

button {
position:relative;
background-color: white;
border: none;
left:-19px;
height:35px;
padding-left: 5px;
padding-right: 7px;
}

input{
    padding:5px;
    padding-left:5px;
   
    margin-left:0px;
    border: none;
    height:25px;
    width:0;
    background-color: white;
    transition: width 0.1s ease-in-out 0.1s;
}

input::placeholder {
    color: rgba(94, 90, 90, 0.5);
    text-indent: 200px;

}

input.active {
    width: 150px;
    height: 25px;
    border: none;
    outline:none;
}